.App {
  text-align: center;
  color: aliceblue;
  background-image: linear-gradient(to bottom, rgb(53, 49, 49) , rgb(189, 187, 184));
  overflow: auto;
  position: relative;
  height: 100%;
}

#root {
  height: 100%;
  overflow: auto;
}

.icon {
  z-index: 1;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
}

.cursorPointer:hover {
  cursor: pointer;
}

.errorDiv {
  position: absolute;
  width: 60%;
  top: 10%;
  margin: 0 20%;
  background-color: cadetblue;
  border-radius: 20px;
}

.closeBtn {
  position: relative;
  right: 5px;
}

.main-navbar {
  position: sticky;
  background-image: linear-gradient(to right, rgb(179, 14, 14) , orange);
  color: aliceblue;
}

html, body {
  height: 100%;
  overflow: auto;
}